/*################## Deafult #######################*/
* {
  box-sizing: border-box;
}
html {
  background-color: #fafafa;
  font-size: 18px;
  scroll-behavior: smooth;
}

nav,
header,
footer {
  display: block;
}

body {
  margin: 0;
  line-height: 1; /* da 1px de distribucion */
}
h1 {
  font-size: 2.25 * 18px;
  font-family: "Raleway";
  font-weight: bolder;
}
h2 {
  font-size: 1.75 * 18px;
  font-family: "Vollkorn", serif;
}
h3 {
  font-size: 1.4 * 18px;
  font-family: "Martel", serif;
  text-transform: uppercase;
}

h1,
h2,
h3,
p {
  color: #24292e;
}

p {
  font-family: "Raleway";
}

hr .down {
  margin-top: 45px;
  border: 0.5px solid #808080;
  width: 80%;
  opacity: 0.3;
}

a {
  text-decoration: none;
  color: #0074c4;
}
a:hover {
  background-color: #0098ff;
  border-radius: 20em;
  
}
/*################## Nav-bar #######################*/
.nav-bar {
  width: 100%;
  margin: 0;
}

.nav-bar ul {
  background-color: #eee;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  padding: 5px;
  list-style: none;
  float: left;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 10px;
}

/*################## Images #######################*/

.helado {
  height: 550px;
  width: 550px;
}

.dolar {
  border: 1px solid black;
  height: 200px;
  width: 350px;
}

.apple {
  border: 1px solid black;
  height: 150px;
  width: 250px;
  border-radius: 1px solid black;
}

/*################## Paragraph #######################*/

figcaption {
  margin-bottom: 30px;
  color: #808080;
  font-size: 0.75 * 18px;
}

/*################## Floats #######################*/

.Side-bar {
  overflow: hidden;
  margin: 24px;
}

.main {
  width: 60%;
  float: left;
  margin-right: 3px;
}

.paragraphFooter {
  clear: both;
}
